In [44]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import chi2

In [3]:
data = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')

In [4]:
df = pd.DataFrame(data)

In [8]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [7]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469
Age,41,49,37,33,27,32,59,30,38,36,...,29,50,39,31,26,36,39,27,49,34
Attrition,Yes,No,Yes,No,No,No,No,No,No,No,...,No,Yes,No,No,No,No,No,No,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely,...,Travel_Rarely,Travel_Rarely,Travel_Rarely,Non-Travel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely
DailyRate,1102,279,1373,1392,591,1005,1324,1358,216,1299,...,468,410,722,325,1167,884,613,155,1023,628
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,...,Research & Development,Sales,Sales,Research & Development,Sales,Research & Development,Research & Development,Research & Development,Sales,Research & Development
DistanceFromHome,1,8,2,3,2,2,3,24,23,27,...,28,28,24,5,5,23,6,4,2,8
Education,2,1,2,4,1,2,3,1,3,3,...,4,3,1,3,3,2,1,3,3,3
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical,Life Sciences,Medical,Life Sciences,Life Sciences,Medical,...,Medical,Marketing,Marketing,Medical,Other,Medical,Medical,Life Sciences,Medical,Medical
EmployeeCount,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
EmployeeNumber,1,2,4,5,7,8,10,11,12,13,...,2054,2055,2056,2057,2060,2061,2062,2064,2065,2068
EnvironmentSatisfaction,2,3,4,4,1,4,3,4,4,3,...,4,4,2,2,4,3,4,2,4,2
Gender,Female,Male,Male,Female,Male,Male,Female,Male,Male,Male,...,Female,Male,Female,Male,Female,Male,Male,Male,Male,Male
HourlyRate,94,61,92,56,40,79,81,67,44,94,...,73,39,60,74,30,41,42,87,63,82
JobInvolvement,3,2,2,3,3,3,4,3,2,3,...,2,2,2,3,2,4,2,4,2,4
JobLevel,2,2,1,1,1,1,1,1,3,2,...,1,3,4,2,1,2,3,2,2,2
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician,Laboratory Technician,Laboratory Technician,Laboratory Technician,Manufacturing Director,Healthcare Representative,...,Research Scientist,Sales Executive,Sales Executive,Manufacturing Director,Sales Representative,Laboratory Technician,Healthcare Representative,Manufacturing Director,Sales Executive,Laboratory Technician
JobSatisfaction,4,2,3,3,2,4,1,3,3,3,...,1,1,4,1,3,4,1,2,2,3
MaritalStatus,Single,Married,Single,Married,Married,Single,Married,Divorced,Single,Married,...,Single,Divorced,Married,Single,Single,Married,Married,Married,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468,3068,2670,2693,9526,5237,...,3785,10854,12031,9936,2966,2571,9991,6142,5390,4404
MonthlyRate,19479,24907,2396,23159,16632,11864,9964,13335,8787,16577,...,8489,16586,8828,3787,21378,12290,21457,5174,13243,10228
NumCompaniesWorked,8,1,6,1,9,0,4,1,0,6,...,1,4,0,0,0,4,4,1,2,2
Over18,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y
OverTime,Yes,No,Yes,Yes,No,No,Yes,No,No,No,...,No,Yes,No,No,No,No,No,Yes,No,No
PercentSalaryHike,11,23,15,11,12,13,20,22,21,13,...,14,13,11,19,18,17,15,20,14,12
PerformanceRating,3,4,3,3,3,3,4,4,4,3,...,3,3,3,3,3,3,3,4,3,3
RelationshipSatisfaction,1,4,2,3,4,3,1,2,2,2,...,2,2,1,2,4,3,1,2,4,1
StandardHours,80,80,80,80,80,80,80,80,80,80,...,80,80,80,80,80,80,80,80,80,80
StockOptionLevel,0,1,0,0,1,0,3,1,0,2,...,0,1,1,0,0,1,1,1,0,0
TotalWorkingYears,8,10,7,8,6,8,12,1,10,17,...,5,20,21,10,5,17,9,6,17,6
TrainingTimesLastYear,0,3,3,3,3,2,3,2,2,3,...,3,3,2,2,2,3,5,0,3,3
WorkLifeBalance,1,3,3,3,3,2,2,3,3,2,...,1,3,2,3,3,3,3,3,2,4
YearsAtCompany,6,10,0,8,2,7,1,1,9,7,...,5,3,20,9,4,5,7,6,9,4
YearsInCurrentRole,4,7,0,7,2,7,0,0,7,7,...,4,2,9,4,2,2,7,2,6,3
YearsSinceLastPromotion,0,1,0,3,2,3,0,0,1,7,...,0,2,9,1,0,0,1,0,0,1
YearsWithCurrManager,5,7,0,0,2,6,0,0,8,7,...,4,0,6,7,0,3,7,3,8,2

In [18]:
df['Attrition'] = df['Attrition'].map({'Yes': 1, 'No': 0})

In [19]:
categorical_features = df.select_dtypes(include=['object', 'category']).columns.tolist()
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

In [20]:
print("Categorical:", categorical_features)
print("Numerical:", numerical_features)

Categorical: ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime']
Numerical: ['Age', 'Attrition', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [21]:
df[categorical_features] = df[categorical_features].fillna('NA')
df[numerical_features] = df[numerical_features].fillna(0)

In [22]:
df.describe()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,0.161224,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,0.367863,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,0.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,0.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,0.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,0.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [23]:
corr = df.corr(numeric_only=True)['Attrition'].abs().sort_values(ascending=False)
corr

Attrition                   1.000000
TotalWorkingYears           0.171063
JobLevel                    0.169105
YearsInCurrentRole          0.160545
MonthlyIncome               0.159840
Age                         0.159205
YearsWithCurrManager        0.156199
StockOptionLevel            0.137145
YearsAtCompany              0.134392
JobInvolvement              0.130016
JobSatisfaction             0.103481
EnvironmentSatisfaction     0.103369
DistanceFromHome            0.077924
WorkLifeBalance             0.063939
TrainingTimesLastYear       0.059478
DailyRate                   0.056652
RelationshipSatisfaction    0.045872
NumCompaniesWorked          0.043494
YearsSinceLastPromotion     0.033019
Education                   0.031373
MonthlyRate                 0.015170
PercentSalaryHike           0.013478
EmployeeNumber              0.010577
HourlyRate                  0.006846
PerformanceRating           0.002889
EmployeeCount                    NaN
StandardHours                    NaN
Name: Attrition, dtype: float64

In [ ]:
#delete feateres with correlation below 0.10

In [24]:
drop_cols = ['DistanceFromHome', 'WorkLifeBalance', 'TrainingTimesLastYear', 'DailyRate', 'RelationshipSatisfaction', 'NumCompaniesWorked', 'YearsSinceLastPromotion', 'Education', 'MonthlyRate', 'PercentSalaryHike', 'EmployeeNumber', 'HourlyRate', 'PerformanceRating', 'EmployeeCount', 'StandardHours']
df = df.drop(columns=drop_cols)

In [53]:
df_categorical_features = df[categorical_features]

In [54]:
df_categorical_features

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes
3,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,Yes
4,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
...,...,...,...,...,...,...,...,...
1465,Travel_Frequently,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No
1466,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,Y,No
1467,Travel_Rarely,Research & Development,Life Sciences,Male,Manufacturing Director,Married,Y,Yes
1468,Travel_Frequently,Sales,Medical,Male,Sales Executive,Married,Y,No
1469,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No

In [56]:
df_categorical_features = df[categorical_features]

X = pd.get_dummies(df_categorical_features)
y = df['Attrition']

chi_scores, p_values = chi2(X, y)

results = pd.DataFrame({
    'feature': X.columns,
    'chi2': chi_scores,
    'p_value': p_values
}).sort_values('chi2', ascending=False)
pd.set_option('display.float_format', '{:.10f}'.format)
print(results)

                              feature          chi2      p_value
28                       OverTime_Yes 63.8450667145 0.0000000000
22       JobRole_Sales Representative 34.2902679739 0.0000000047
25               MaritalStatus_Single 30.7716689504 0.0000000290
27                        OverTime_No 25.1988119101 0.0000005171
1    BusinessTravel_Travel_Frequently 15.8166227536 0.0000697867
16      JobRole_Laboratory Technician 11.6994946531 0.0006251707
19          JobRole_Research Director 10.9780097940 0.0009219939
17                    JobRole_Manager  9.4961359825 0.0020590506
18     JobRole_Manufacturing Director  9.1265886506 0.0025192103
23             MaritalStatus_Divorced  8.7944218353 0.0030215299
14  JobRole_Healthcare Representative  8.2925183598 0.0039808744
0           BusinessTravel_Non-Travel  7.3179340294 0.0068269848
5                    Department_Sales  6.6944652416 0.0096712673
24              MaritalStatus_Married  6.5975857552 0.0102117140
11    EducationField_Technical Degree  6.4358600325 0.0111838995
8            EducationField_Marketing  4.0791537782 0.0434153967
4   Department_Research & Development  3.7029156988 0.0543174721
9              EducationField_Medical  2.2221325700 0.1360450266
6      EducationField_Human Resources  1.9188776075 0.1659804450
15            JobRole_Human Resources  1.8597526161 0.1726533546
2        BusinessTravel_Travel_Rarely  1.0478569026 0.3060011782
7        EducationField_Life Sciences  0.9240444325 0.3364152724
12                      Gender_Female  0.7651298161 0.3817279122
13                        Gender_Male  0.5100865441 0.4751013942
21            JobRole_Sales Executive  0.4473333413 0.5036040359
10               EducationField_Other  0.4446056989 0.5049078166
3          Department_Human Resources  0.3986263821 0.5277995042
20         JobRole_Research Scientist  0.0001523054 0.9901533897
26                           Over18_Y  0.0000000000 1.0000000000

In [57]:
#delete Over18 and Gender

In [58]:
drop_cols_categorical = ['Over18', 'Gender']
df = df.drop(columns=drop_cols_categorical)

In [59]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469
Age,41,49,37,33,27,32,59,30,38,36,...,29,50,39,31,26,36,39,27,49,34
Attrition,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely,...,Travel_Rarely,Travel_Rarely,Travel_Rarely,Non-Travel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,...,Research & Development,Sales,Sales,Research & Development,Sales,Research & Development,Research & Development,Research & Development,Sales,Research & Development
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical,Life Sciences,Medical,Life Sciences,Life Sciences,Medical,...,Medical,Marketing,Marketing,Medical,Other,Medical,Medical,Life Sciences,Medical,Medical
EnvironmentSatisfaction,2,3,4,4,1,4,3,4,4,3,...,4,4,2,2,4,3,4,2,4,2
JobInvolvement,3,2,2,3,3,3,4,3,2,3,...,2,2,2,3,2,4,2,4,2,4
JobLevel,2,2,1,1,1,1,1,1,3,2,...,1,3,4,2,1,2,3,2,2,2
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician,Laboratory Technician,Laboratory Technician,Laboratory Technician,Manufacturing Director,Healthcare Representative,...,Research Scientist,Sales Executive,Sales Executive,Manufacturing Director,Sales Representative,Laboratory Technician,Healthcare Representative,Manufacturing Director,Sales Executive,Laboratory Technician
JobSatisfaction,4,2,3,3,2,4,1,3,3,3,...,1,1,4,1,3,4,1,2,2,3
MaritalStatus,Single,Married,Single,Married,Married,Single,Married,Divorced,Single,Married,...,Single,Divorced,Married,Single,Single,Married,Married,Married,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468,3068,2670,2693,9526,5237,...,3785,10854,12031,9936,2966,2571,9991,6142,5390,4404
OverTime,Yes,No,Yes,Yes,No,No,Yes,No,No,No,...,No,Yes,No,No,No,No,No,Yes,No,No
StockOptionLevel,0,1,0,0,1,0,3,1,0,2,...,0,1,1,0,0,1,1,1,0,0
TotalWorkingYears,8,10,7,8,6,8,12,1,10,17,...,5,20,21,10,5,17,9,6,17,6
YearsAtCompany,6,10,0,8,2,7,1,1,9,7,...,5,3,20,9,4,5,7,6,9,4
YearsInCurrentRole,4,7,0,7,2,7,0,0,7,7,...,4,2,9,4,2,2,7,2,6,3
YearsWithCurrManager,5,7,0,0,2,6,0,0,8,7,...,4,0,6,7,0,3,7,3,8,2

In [60]:
df.to_csv('data_prepared.csv', index=False)